# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Profiling
*.data
*.data.*

# Build Files
build/

# IDE
.vscode/

# Cache
.cache/logs/
.cache/clangd/

# Test files
test.py

# QT
*.pro.user
*.autosave
*.qmlproject.user
CMakeLists.txt.user*
